chatbot-view,
#chatbot-view {
  display: block;
  padding: 1em;
}
chatbot-view,
#question-field {
  margin-top: 100px;
  position: absolute;
  bottom: 5%;
  width: 65%;
}
chatbot-view,
#text-area {
  position: absolute;
  width: 78%;
  max-height: 75%;
  font-size: 16pt;
}
chatbot-view,
#clear-button {
  position: absolute;
  bottom: 5%;
  right: 9% ;
}
chatbot-view,
#camera-button {
  position: absolute;
  bottom: 5%;
  right: 1% ;
}

chatbot-view,
#snapshot-button {
  position: absolute;
  bottom: 10%;
  right: 40% ;
}