settings-view,
#settings-view {
    display: block;
    padding: 1em;
}

settings-view,
#theme-button {
    position: absolute;
    left: 22%;
    top: 12%;
}

settings-view,
#algorithm-select {
    position: absolute;
    left: 22%;
    top: 35%;
}

settings-view,
#type-select {
    position: absolute;
    left: 22%;
    top: 21%;
}

