settings-view,
#settings-view {
    display: block;
    padding: 1em;
}

settings-view,
#theme-button {
    position: absolute;
    left: 50%;
    top: 15%;
}

settings-view,
#algorithm-select {
    position: absolute;
    right: 13%;
}

settings-view,
#type-select {
    position: absolute;
    left: 25%;
}

