configurations-view,
#configurations-view {
    display: block;
    padding: 1em;
}
configurations-view,
#load-button{
    margin-left: 5px;
}

configurations-view,
#delete-button{
    margin:5px;
    background-color: #fe4a49;
    color: white;
}

configurations-view,
#delete-button:hover{
    background-color: #b43636;
    color: white;
}

configurations-view,
#delete-button:disabled{
    background-color: #ffcccb;
    color: white;
}

configurations-view,
#add-button{
    background-color: #67c104;
    color: white;
}

configurations-view,
#add-button:hover{
    background-color: #478800;
    color: white;
}