configurations-view,
#configurations-view {
    display: block;
    padding: 1em;
}

configurations-view,
#load-button {
    margin-left: 5px;
}

configurations-view,
#delete-button {
    margin: 5px;
    background-color: #fe4a49;
    color: white;
}

configurations-view,
#delete-button:hover {
    background-color: #b43636;
    color: white;
}

configurations-view,
#delete-button:disabled {
    background-color: #ffcccb;
    color: white;
}

configurations-view,
#add-button {
    background-color: #67c104;
    color: white;
}

configurations-view,
#add-button:hover {
    background-color: #478800;
    color: white;
}

configurations-view,
#slot-two {
    margin-left: 35px;
}

configurations-view,
#slot-four {
    margin-left: 35px;
}

configurations-view,
#cancel-button {
    margin-right: 5px;
}

configurations-view,
#submit-button {
    margin-right: 5px;
    background-color: rgb(200, 205, 205);
}

configurations-view,
#request {
}

configurations-view,
#response {
}

configurations-view,
#request-must-be-filled {
    outline: 1px solid;
    outline-color: red;
    background-color: rgb(500, 200, 200);
}

configurations-view,
#response-must-be-filled {
    outline: 1px solid;
    outline-color: red;
    background-color: rgb(500, 200, 200);
}